/* Division */
#root .MuiGrid-direction-xs-column{
    background-image:url("https://images.unsplash.com/photo-1626450429795-a3ba2964ef7f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNTc5fDB8MXxzZWFyY2h8MXx8bWVjaGF8ZW58MHx8fHwxNjY3NDQ5NTQx&ixlib=rb-4.0.3&q=80&w=2440");
    background-size:cover;
    background-blend-mode:luminosity;
   }
   